html
  head
    title='QBE - AKS v5.0'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 QBE - AKS 
        p I hope you're enjoying the demo of Kubernetes!
        img(src='/images/profile.jpg')  
                                                 
